/* Update a few things from Bootstrap.css */
/*======*/
/* =General
=========================================================*/
.left        {float:left;}
.right       {float:right;}
.clear       {clear:both;}
.clearLeft   {clear:left;}
.clearRight  {clear:right;}
.add-bottom  {margin-bottom:15px !important; }
.add-top     {margin-top:15px!important; }
.relative    {position:relative !important; z-index:1;}
/*
=========================================================*/


body { color: rgba(55,46,42,1); }

a { 
  color: black;
  text-decoration: none;
  background: rgba(132,132,120,.1);  
  border-bottom: 1px solid #EC4079;
  padding: 1px 2px 1px 2px;
  /**/
  transition: background 500ms;
  -webkit-transition: background 500ms;
  -moz-transition: background 500ms;
  -o-transition: background 500ms;
  -ms-transition: background 500ms;
  }
a:hover { 
  color: white;
  background: #EC4079;
  }

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

::selection {
  background: #EC4079;
  color: white;
  text-shadow: none;
}

/**/

/* TYPOGRAPHY STUFF */
/* @Font-Face */
/* Gentium */
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: italic;
  font-weight: normal;
  src: local('Gentium Book Basic Italic'), local('GentiumBookBasic-Italic'), url('http://themes.googleusercontent.com/static/fonts/gentiumbookbasic/v3/qHqW2lwKO8-uTfIkh8FsUW9ZVGYl7-DCiNGjac5stJT3rGVtsTkPsbDajuO5ueQw.woff') format('woff');
}
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: normal;
  src: local('Gentium Book Basic'), local('GentiumBookBasic'), url('http://themes.googleusercontent.com/static/fonts/gentiumbookbasic/v3/IRFxB2matTxrjZt6a3FUnq6Rv-X66d7QWAwIQQ5u8Sc.woff') format('woff');
}
/*Open Sans*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
}

body, p, a {
  font-family: "gentium book basic", georgia, "times new roman", times, serif;
  font-weight: 400;
  font-style: normal;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

em, cite { font-style: italic; }

h1  {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 800 !important;
}

h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
}

.blue, .blue h2, .blue article, .blue p {
  color: #9DB2B0;
}

article h3  {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 800 !important;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

article ol {
  margin: 0 0 0 4px;
  padding: 0;
}

.stricken {
  text-decoration: line-through;
}

/* /END TYPOGRAPHY */

/*=======================================*/
/*=======================================*/
/*=======================================*/

/* Main Layout */
header {
  border-bottom: 1px solid #EC4079;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

body.calendar header {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer {
  margin: 120px 0;
}
/* /END Main Layout */

/* Secondary layout elements */
.container, .container .row, .container h2 {
  position: relative;
}

.container h2 {
  z-index: 1;
}

.plusminus {
  position: absolute;
  top: 37px;
  right: 10px;
  z-index: 0;
}

.plusminus h3 {
  margin: 0;
  padding: 0;
}

/*=======================================*/
/*=======================================*/
/*=======================================*/

.navbar-inverse .navbar-inner {
  background: #848478;
  border-color: #EC4079;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
  background-color: rgba(55,46,42,1);
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: rgba(55,46,42,1);
}

.navbar-inverse .navbar-inner a {border: none;}

/*=======================================*/
/*=======================================*/
/*=======================================*/

section.toggle {
  border-top: 1px solid #EC4079;
  padding: 30px 0 38px;
}

section.toggle.first {
  margin-top: 30px !important;
}

section.toggle.last {
  border-bottom: 1px solid #EC4079 !important;
  padding-bottom: 40px  !important;
}

section.toggle:hover {
  background: rgba(132,132,120,.05);
}

section.toggle:hover,
section.toggle:hover h2, 
section.toggle h2:hover {
  color: #848478;
}

.toggle h2, 
section.toggle:hover,
section.toggle:hover h2, 
section.toggle h2:hover {
  cursor: pointer;
}

.expandcontract.relative {
  margin-bottom: -36px;
  top:-18px;
}
